body {
	background: #f1f1f1;
}
#header {
	height: auto;
	background: #232323;
	border-bottom: 2px solid #000;
	color: #fff;
	padding: 140px 0;

	text-align: center;
}
#header h1 {
	font-size: 3.9em;
	font-family: "jaf-facitweb",sans-serif;
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,0.1);
}
#work {

}
#work .container div {
	width: 225px;
	min-height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: black;
	float:left;
}
#work .container div:nth-child(4) {
	margin-right: 0;
}
#work .container div img {
	width: 100%;
}